################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/nfn/x64/Debug/vc141.pdb
/nfn/x64/Debug/vc141.idb
/nfn/x64/Debug/stdafx.obj
/nfn/x64/Debug/nfn.pdb
/nfn/x64/Debug/nfn.pch
/nfn/x64/Debug/nfn.obj
/nfn/x64/Debug/nfn.log
/nfn/x64/Debug/nfn.ilk
/nfn/x64/Debug/nfn.exe
/nfn/x64/Debug/nfn.tlog/nfn.lastbuildstate
/nfn/x64/Debug/nfn.tlog/link.write.1.tlog
/nfn/x64/Debug/nfn.tlog/link.read.1.tlog
/nfn/x64/Debug/nfn.tlog/link.command.1.tlog
/nfn/x64/Debug/nfn.tlog/CL.write.1.tlog
/nfn/x64/Debug/nfn.tlog/CL.read.1.tlog
/nfn/x64/Debug/nfn.tlog/CL.command.1.tlog
/nfn/.vs/nfn/v15/Browse.VC.opendb
/nfn/.vs/nfn/v15/ipch/ab580ef7d539bba1.ipch
/nfn/.vs/nfn/v15/ipch/63becf9fdcf8017.ipch
/.vs/config/applicationhost.config
/.vs/nfn/v15/ipch/AutoPCH/5a3625601adaba60/NFN.ipch
/.vs/nfn/v15/ipch/AutoPCH/c3dea8cb88bd6e2a/NFN.ipch
/.vs/nfn/v15/ipch/ab580ef7d539bba1.ipch
/.vs/nfn/v15/.suo
/.vs/nfn/v15/Browse.VC.db
